<!DOCTYPE html>
<html lang="en" >

<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/v4-shims.css">

	<style>
		input::placeholder {
			color: greenyellow;
			opacity: 0.5;
		}
	</style>
</head>

<body>
	<div class="demo">
		<form class="login" action="/register" method="POST">
			<img src="https://raw.githubusercontent.com/aldehf420/node-chat/master/Chchrum-talk/assets/img/icon.png" width="250px", height="250px"/>
			<div class="login__form" style="top: 40%;">
				<div class="login__row">
					<i style="color: white;" class="far fa-user fa-4x"></i>
					<input type="text" class="login__input pass" placeholder="Username" name="name"/>
				</div>
				<div class="login__row">
					<i style="color: white;" class="far fa-id-badge fa-4x"></i>
					<input type="text" class="login__input name" placeholder="Id" name="id"/>
				</div>
				<div class="login__row">
					<i style="color: white;" class="fas fa-unlock-alt fa-4x"></i>
					<input type="password" class="login__input pass" placeholder="Password" name="pwd"/>
				</div>
				<div class="login__row">
					<i style="color: white;" class="fas fa-unlock-alt fa-4x"></i>
					<input type="password" class="login__input pass" placeholder="Confirm" name="pwdconf"/>
				</div>
				<input type="submit" class="login__submit" value="Register"/>
			</div>
		</form>
	</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="javascript/style.js"></script>
</body>

</html>
